* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), url('./assets/fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
    src: local('Open Sans Light'), url('./assets/fonts/OpenSans/OpenSans-Light.ttf') format('truetype');
    src: local('Open Sans Bold'), url('./assets/fonts/OpenSans/OpenSans-Bold.ttf') format('truetype');
}
